@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);
  }


body{
    font-family: 'Quicksand', sans-serif;
margin: 0;

}


#subfondo{
    background-color: #9B2E49;
    margin: 48px;
    border-radius: 20px;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}



.pantalla_1{
  
    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 935px;
}

#btn_proceso_compra{
margin-top: 40px;
margin-bottom: 60px;
}



#btn_experiencia{
margin-top: 60px;
}


.pantalla_2{
    display: none;

    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    

    #productos{
        display: flex;
        flex-direction: row;

    }

    #preparacion{
        margin-top: 50px;

        #imagen_producto{
            
            margin-bottom: -100px;
        }

    }
}

.boton, #boton{
    cursor:pointer;
}

.pantalla_3{
  
    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 935px;
}




.coffee{
    
    width: 90%;
    height: 90%;
    
    background: #953149;

    border-radius: 10px;

    color: white;

    &__container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
        &__preview{
            
            display: flex;
       
            justify-content: center;
            align-items: center;
            
            width: 50%;
            height: 300px;
            
            background-color: #84283F;

            border-radius: 10px;

            &__container{
                display: flex;

                width: 80%;
                height: 80%;

                &__img{
                    width: 70%;
                    height: 70%;

                    img{
                        width: 200px;
                        height: 200px;
     
                    }
                }

                &__informacion{

                    &__titulo{

                    }

                    &__precio{
                        border-top: 2px solid white;

                    }
                }

            }
        }


        &__azucar{

            display: flex;
            background-color: #84283F;

            border-radius: 10px;

            &__nivel, &__tamano{
                position: relative;
                width: 100px;
                height: 50px;
           
                input{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }

                label{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 100%;
         
                    font-size: 2em;
                }

                input:checked+label{
                    cursor: pointer;
                    background: #D44266;
                    border-radius: 10px;
                }
                

            }

            &__tamano{
                width: 150px;
            }

           
        }

        &__comprar{
            border: 0;
            background: #008598;
            width: 150px;
            height: 50px;

            font-size: 1.5em;

            margin-top: 50px;

            border-radius: 10px;

            color: white;
        }

    }
    

}

.pantalla_4{
  
    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 935px;

    #subfondo{
        padding: 100px 250px 100px 250px;
    }


    .contenedor_opcionRegiones{

        
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        
        &__opcion{
            position: relative;

            
            input{
                position: absolute;

                width: 100%;
                height: 100%;
                opacity: 0;

                &:checked+label img{
                    border: 5px solid white;
                    border-radius: 30px;
                }
            }
        }
    }

    .contenedor_tostion{
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__opcion{
            position: relative;

            
            input{
                position: absolute;

                width: 100%;
                height: 100%;
                opacity: 0;

                &:checked+label img{
                    border: 5px solid white;
                    border-radius: 30px;
                }
            }
        }
    }


    .region_ejecafetero{
        margin-left: 20px;
    }

    .tostion_alta{
        margin: 20px 0 20px 0;
    }




}

.pantalla_5{
  
    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 935px;

    .tarjeta_credito, .efectivo{
        margin: 50px 50px 0 0;
    }

    .medio_pago{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

     #subfondo{
        padding: 200px 350px 200px 350px;
    }
    
}

.pantalla_pagoEfectivo{
  
    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 935px;

    h2{
        color: white;
        font-size: 35pt;
    }

    .contenedor_resumen_compra{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .btn_comprar_efectivo{
        margin-top: 50px;
    }

    #subfondo{
        padding: 150px 350px 150px 350px;
    }
}


.pantalla_pagoTarjeta{

    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 935px;

    #subfondo{
        padding: 100px 270px 100px 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2{
        color: white;
        font-size: 35pt;
        width: 450px;
    }

    .columnas_tarjeta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contenedor_resumen_compra_tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .valor_pagar_imagen{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

    .columna_teclado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        margin-top: 50px;
    }


    .btn_comprar_tarjeta{
        margin-top: 70px;
    }
}

.pantalla_final{
    background-image: url('../src/hand-fruits-rural-gardening-92354\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 935px;

    .botones_final{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            margin: 20px 0 20px 0;
        }
    }

    .logoKilele_final{
        margin-left: 150px;
    }

}